<!DOCTYPE html>

<html>
    <head>
        <title>Sistema Evaluador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Styles/Style.css">
        <script src="Frameworks/vue.js"></script>
        
    </head>
    
    <body>
        <!--Div Introducción-->
        <div class="Inicio">
            
            <img class="ESCOM" alt="Logo ESCOM" src="Imagenes/ESCOM.png" />
            <img class="IPN" alt="Logo IPN" src="Imagenes/IPN.png" />
            <p class="Principal">Sistema Evaluador Interactivo</p>
            <p>Proyecto generador y evaluador de preguntas para la asignatura Tecnologías para la Web</p>
            
        </div>
        
        <br />
        
         <!--Div Barra de Navegación-->
        <div id="Barra"> 
            <ul>
                <li><a class="Activo" href="default.asp">Inicio</a></li>
                <li><a>Información</a>
            </ul>
        </div>
        
        <br />
        <br />
        
         <!--Div Login-->
        <div id="Login">
            
           {{log}}
           
            <form v-on:submit="sub" action="xD" method="post">
                
                <u><p class="Titulos">Inicio de Sesión</p></u>
                <p class="Subtitulos">Usuario:</p>
                <p><input class="Form" v-model="user"></p>
                <p class="Subtitulos">Contraseña:</p>
                <p><input class="Form" v-model="pass" type="password"></p>
                
                <button type="submit">Entrar</button>   
            </form>
            
        </div>
       <script src="Scripts/index.js"></script>
    </body>
</html>
