<!DOCTYPE html>

<html>
    <head>
        
        <title>Administrador</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../Styles/StyleAdministrador.css" type="text/css" />
        <script src="../Frameworks/vue.js"></script>
        
    </head>
    <body>
       
        <button class="button2" type="button" onclick="Cerrar()">Cerrar Sesión</button>
        <p class="Principal">Bienvenido Administrador</p>
       
        <div class="Admin">
       
            <p>Interfaz para la administración de la plataforma</p>
           
        </div>
        
        <br />
        <hr />
        
        <div class="btn-group">
            
            <div id="Botones">
                
                <button v-on:click="show = !show" class="button">Agregar Pregunta</button>
                <button v-on:click="show2 = !show2" class="button">Modificar Pregunta</button>
                <button v-on:click="show3 = !show3" class="button">Eliminar Pregunta</button>
                
                
                <br />
                <br />
                
                <center>

                <transition name="slide-fade">
  
                    <p v-if="show">

                        <br />
                        <br />
                        <br />
                        
                        
                        <label class="Titulo">Crear Nueva Pregunta</label>         
                        <br />
                        <br />
                         <label class="Texto">Seleccione el tipo de pregunta para crear</label>
                          <br />
                          <br />
                        <button class="button1" onclick="TrueorFalse()">True or False</button>
                        <br />
                        <br />
                        <button class="button1" onclick="HotObject()">Hot Object</button>
                        <br />
                        <br />
                        <img class="Ad" src="../Imagenes/Examen.png" alt="Examen"/>
                    </p>
                    
                    <p else v-if="show2">
                    
                        <br />
                        <br />
                        <br />
                                               
                        <label class="Titulo"> Modificar Pregunta</label>         
                        <br />
                        <br />
                        <label class="Texto">Verifique la lista de preguntas a modificar</label>
                        <br />
                        <br />
                        <button class="button1" onclick="Modificar()">Mostrar Lista</button>
                       
                        <br />
                        <br />
                        <img class="Ad2" src="../Imagenes/Mod.png" alt="Mod"/>
                   
                    </p>
                   
                </transition>
                    
                </center>
                
                
                
            </div>
            
            
            
             
        </div>
     
        <script src="../Scripts/index.js"></script>
    </body>
</html>
