<!DOCTYPE html>

<html>
    <head>
        <title>Hot Object</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Styles/Style.css" type="text/css">
        <script src="../Frameworks/vue.js"></script>

    </head>

    <script>
        function OnOff() {

            if (document.F1.Activar.checked) {

                document.F1.inicial.disabled = false;
                document.F1.evaluar.disabled = false;
                document.F1.correcta.disabled = false;
                document.F1.incorrecta.disabled = false;
                document.F1.intentar.disabled = false;

            } else {

                document.F1.inicial.disabled = true;
                document.F1.evaluar.disabled = true;
                document.F1.correcta.disabled = true;
                document.F1.incorrecta.disabled = true;
                document.F1.intentar.disabled = true;

            }
             if(document.F1.ActivarMulti.checked){
                
                document.F1.multimedia.disabled=false;
                
                
            }else{
                
                document.F1.multimedia.disabled=true;
                
            }

        }
    </script>

    <body onload="OnOff()">

        <form action="../AltaHot" method="post" name="F1" enctype='multipart/form-data'>

            <div id="Preguntas2">

                <div id="Contenido2" style="border-bottom: 6px solid #f0b60f;height: 700px; position: relative; top: 40px">

                    <div id="Top2" style="background-color: #f0b60f">
                        <br />
                        <b>
                            <p class="Subtitulos3">Crear Nueva Pregunta Hot Object</p> 
                        </b>

                    </div>

                    <br />

                    <p class="Subtitulos3" style="color: black">ID de Pregunta:   
                        <input class="Form2
                               " v-model="ID" name="ID" style="width: 30px;" required placeholder="#"></p>

                    <p class="Subtitulos3" style="color: black; float: right; position: relative; top: -70px; left: -70px;">Numero de Intentos:

                        <input class="Form2
                               " v-model="intentos" name="intentos" style="width: 30px;" required placeholder="#"></p>

                    <p class="Subtitulos3" style="color: black; float: right; position: relative; top: -20px; left: 120px;">Activar Multimedia <input type="checkbox" onclick="OnOff()" name="ActivarMulti" />
                    </p>

                    <p class="Subtitulos3" style="color: black; float: right; position: relative; top: 10px; left: 390px;">
                        <input class="Form2
                               " type="file" name="multimedia" style="width: 270px; height: 25px;"></p>

                    <p class="Subtitulos3" style="color: black; float: left; position: relative; top: -90px; left: 20px;">Pregunta: </p>
                    <p class="Subtitulos3" style="color: black; float: left; position: relative; top: -50px; left: -60px;"><textarea cols="40" rows="3" v-model="pregunta" required name="pregunta" placeholder="Escribe una pregunta de cualquier tema"></textarea></p>

                    <!--<img class="Ad4" src="../Imagenes/VF.png" alt="Examen" />-->

                    <p class="Subtitulos3" style="color: black; float: left; position: relative; top: -75px; left: 20px;">Suba imagenes de las opciones y seleccione cuales seran correctas:</p>

                    <p><input class="Form2" v-model="H1" type="file" required name="opciones" placeholder="Opción 1" style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;"> <input type="checkbox" name="Correcta" value="1" style="position: relative; left: 20px; top: -50px;"></p>
                    <p><input class="Form2" v-model="H2" type="file" required name="opciones" placeholder="Opción 2"style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;" > <input type="checkbox" name="Correcta" value="2" style="position: relative; left: 20px;top: -50px;"></p>
                    <p><input class="Form2" v-model="H1" type="file" required name="opciones" placeholder="Opción 3" style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;"> <input type="checkbox" name="Correcta" value="3" style="position: relative; left: 20px; top: -50px;"></p>
                    <p><input class="Form2" v-model="H2" type="file" required name="opciones" placeholder="Opción 4"style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;" > <input type="checkbox" name="Correcta" value="4" style="position: relative; left: 20px;top: -50px;"></p>
                    <p><input class="Form2" v-model="H1" type="file" required name="opciones" placeholder="Opción 5" style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;"> <input type="checkbox" name="Correcta" value="5" style="position: relative; left: 20px;top: -50px;"></p>
                    <p><input class="Form2" v-model="H2" type="file" required name="opciones" placeholder="Opción 6"style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;" > <input type="checkbox" name="Correcta" value="6" style="position: relative; left: 20px;top: -50px;"></p>
                    <p><input class="Form2" v-model="H1" type="file" required name="opciones" placeholder="Opción 7" style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;"> <input type="checkbox" name="Correcta" value="7" style="position: relative; left: 20px;top: -50px;"></p>
                    <p><input class="Form2" v-model="H2" type="file" required name="opciones" placeholder="Opción 8"style="width: 600px; height: 25px; position: relative; left: 16px; top: -50px;" > <input type="checkbox" name="Correcta" value="8" style="position: relative; left: 20px;top: -50px;"></p>


                </div>

                <div id="Left2"style="border:4px solid #f0b60f; top: -50px;">

                    <p class="Subtitulos3" style="color: black"><b>FeedBack</b></p>
                    <p class="Subtitulos3" style="color: black">Proporcione retroalimentación en las diferentes situaciones de la pregunta</p>
                    <hr style="border-color: #f0b60f;"/>


                    <p class="Subtitulos3" style="text-align: left; color:black;"><b>El FeedBack es opcional pero muy importante:</b></p>
                    <p class="Subtitulos3" style="text-align: left; color:black;">Activar FeedBack <input type="checkbox" onclick="OnOff()"name="Activar" /></p>

                    <p class="Subtitulos3" style="text-align: left; color:black;">FeedBack inicial: <input class="Form2
                                                                                                           " name="inicial" style="width: 200px; position: relative; left: 70px"></p>
                    <p class="Subtitulos3" style="text-align: left; color:black;">FeedBack al evaluar: <input class="Form2
                                                                                                              " name="evaluar" style="width: 200px; position: relative; left: 35px"></p>
                    <p class="Subtitulos3" style="text-align: left; color:black;">FeedBack correcto: <input class="Form2
                                                                                                            " name="correcta" style="width: 200px; position: relative; left: 44px"></p>
                    <p class="Subtitulos3" style="text-align: left; color:black;">FeedBack incorrecto: <input class="Form2
                                                                                                              " name="incorrecta" style="width: 200px; position: relative; left: 30px"> </p>
                    <p class="Subtitulos3" style="text-align: left; color:black;">FeedBack al intentar: <input class="Form2
                                                                                                               " name="intentar" style="width: 200px; position: relative; left: 33px"></p>
                    <input type="submit" class="button3"value="Subir Pregunta" style="float: right; position: relative; right: 200px; width: 300px; top: 80px;">
                    <input type="button" class="button1"value="Regresar" onclick="Regresar()"style="float: right; position: relative; right: -100px; width: 300px; top: 130px;">
                </div>


            </div>


        </form>

        <script src="../Scripts/index.js"></script>
    </body>
</html>
